@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "katex/dist/katex.min.css";

.prose code.hljs {
  @apply bg-transparent shadow-none border-none p-0
}
 .prose code {
  @apply bg-neutral text-neutral-content border-none
 }

@plugin "daisyui" {
  themes: all;
}

.custom-scrollbar {
  scrollbar-width: thin;
}

html,
body {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100%;
  overflow: hidden;
  touch-action: none;
}

@theme {
  --font-lato: "Lato", sans-serif;
  --font-garamond: "EB Garamond", serif;
  --font-geist: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

.prose blockquote p:first-of-type::before,
.prose blockquote p:first-of-type::after {
  content: none !important;
}

.shimmer-text {
  color: transparent;
  background: linear-gradient(
    110deg,
    oklch(from var(--color-base-content) l c h / 0.55) 25%,
    oklch(from var(--color-base-content) l c h / 1) 37%,
    oklch(from var(--color-base-content) l c h / 0.55) 63%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 3s infinite linear;
}

@keyframes shimmer {
  to {
    background-position-x: -200%;
  }
}
